{% extends 'shared/_PanelMain.html' %}

{% load static %}
{% load jalali_filters %}

{% block header %}
    {% include "./home_page_header.html" %}
{% endblock %}

{% block main %}
    <div>
        <div class="row ">
            <div class="col-md-12">
                {% include "../components/analystics_dashboard.html" %}
            </div>
        <div  class="col-md-2">
            {% include "../components/quick_access.html" %}
        </div>
        <div class="col-md-5 ">
            {% include "../components/clearances_with_tabs.html" %}
        </div>
        <div class="col-md-5 ">
            {% include "../components/registration_with_tabs.html" %}
        </div>
        </div>
    </div>

{% endblock %}

{% block footer %} 

{% endblock %}
