{% extends "shared/_PanelMain.html" %}
{% load static %}
{% load jalali_filters %}
{% block main %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">
                    مشخصات و اطلاعات کامل سرباز
                </h3>
            </div>
            <div class="panel-body">
                <!-- Soldier Photo -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% if soldier.photo_scan %}
                            <img src="{{ soldier.photo_scan.url }}"
                                 class="img-thumbnail"
                                 style="max-height: 200px"
                                 alt="عکس سرباز">
                        {% else %}
                            <p class="text-muted">عکس موجود نیست</p>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <!-- Personal Information -->
                <h4 class="text-primary">مشخصات شخصی</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>کد ملی:</label>
                        <p>{{ soldier.national_code }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام:</label>
                        <p>{{ soldier.first_name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام خانوادگی:</label>
                        <p>{{ soldier.first_name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام پدر:</label>
                        <p>{{ soldier.father_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>تاریخ تولد:</label>
                        <p>{{ soldier.birth_date|to_jalali }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>محل تولد:</label>
                        <p>{{ soldier.birth_place }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>محل صدور :</label>
                        <p>{{ soldier.issuance_place }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مذهب :</label>
                        {% if soldier.is_sunni %}
                            <p>اهل تسنن</p>
                        {% else %}
                            <p>شیعه</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>وضعیت تاهل:</label>
                        <p>{{ soldier.marital_status }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تعداد اولاد:</label>
                        <p>{{ soldier.number_of_children }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>متاهل مستقل:</label>
                        <p>{{ soldier.independent_married|default_if_none:'' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>معسرین:</label>
                        {% if soldier.is_needy %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>مدرک تحصیلی:</label>
                        <p>{{ soldier.degree }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>رشته تحصیلی:</label>
                        <p>{{ soldier.field_of_study|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تخصص:</label>
                        <p>{{ soldier.expertise|default_if_none:'-' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>گواهینامه دارد؟ :</label>
                        <p>{{ soldier.has_driving_license }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نوع گواهینامه :</label>
                        <p>{{ soldier.driving_license_type|default_if_none:'-' }}</p>
                    </div>
                </div>
                <hr>
                <!-- Health Info -->
                <h4 class="text-info">اطلاعات سلامت</h4>
                <div class="row">
                    <div class="col-md-4">
                        <label>وضعیت سلامت:</label>
                        <p>{{ soldier.get_health_status_display }}</p>
                    </div>
                    <div class="col-md-4">
                        <label>توضیحات وضعیت سلامت:</label>
                        <p>{{ soldier.health_status_description }}</p>
                    </div>
                    <div class="col-md-4">
                        <label>گروه خون:</label>
                        <p>{{ soldier.get_blood_group_display }}</p>
                    </div>

                </div>
                <hr>

                <!-- yegan Info -->
                <h4 class="text-success">اطلاعات یگان خدمتی</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>کد سازمانی:</label>
                        <p>{{ soldier.organizational_code.code_number }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام قسمت :</label>
                        <p>{{ soldier.current_parent_unit.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>زیرقسمت :</label>
                        <p>{{ soldier.current_sub_unit.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نوع قسمت :</label>
                        <p>{{ soldier.current_sub_unit.work_type }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>نوع حضور:</label>
                        <p>{{ soldier.traffic_status }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>جذبی:</label>
                        {% if soldier.absorption %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label>معرف:</label>
                        <p>{{ soldier.referral_person|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>پاسدار وظیفه:</label>
                        {% if soldier.is_guard_duty %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>فراری:</label>
                        {% if soldier.is_fugitive %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label>سابقه فرار:</label>
                        <p>{{ soldier.fugitive_record }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>سابقه اعتیاد:</label>
                        <p>{{ soldier.addiction_record }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>مقدار خدمت انجام شده:</label>
                        {% if soldier.is_fugitive %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label>مجموع (کسری/اضافه خدمت):</label>
                        <p>{{ soldier.total_service_adjustment }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نوع کسری خدمت:</label>
                        <p>{{ soldier.service_deduction_type }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>پایان خدمت :</label>
                        <p>{{ soldier.service_end_date|to_jalali }}</p>
                    </div>
                </div>
                <!-- Military Info -->
                <h4 class="text-warning">اطلاعات نظامی</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>کد پاسداری:</label>
                        <p>{{ soldier.id_card_code|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>درجه:</label>
                        <p>{{ soldier.get_rank_display }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تاریخ اعزام:</label>
                        <p>{{ soldier.dispatch_date|to_jalali }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تاریخ ورود به یگان:</label>
                        <p>{{ soldier.service_entry_date|to_jalali }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>نام آموزشگاه رزم مقدماتی:</label>
                        <p>{{ soldier.basic_training_center.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مدت آموزش (روز):</label>
                        <p>{{ soldier.training_duration }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مدت خدمت ضرورت:</label>
                        <p>{{ soldier.essential_service_duration }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>کفایتدار بسیج:</label>
                        {% if soldier.Is_the_Basij_sufficient %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <!-- Contact Info -->
                <h4 class="text-success">اطلاعات تماس</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>تلفن همراه:</label>
                        <p>{{ soldier.phone_mobile }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>همراه مجازی:</label>
                        <p>{{ soldier.phone_virtual }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>همراه پدر یا مادر:</label>
                        <p>{{ soldier.phone_parents }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>منزل:</label>
                        <p>{{ soldier.phone_home }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>استان:</label>
                        <p>{{ soldier.residence_province.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>شهر:</label>
                        <p>{{ soldier.residence_city.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>کیلومتر:</label>
                        <p>{{ soldier.residence_city.distance }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>وضعیت:</label>
                        {% if soldier.residence_province.native %}
                            <p>بومی</p>
                        {% else %}
                            <p>غیربومی</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>آدرس:</label>
                        <p>{{ soldier.address }}</p>
                    </div>
                    <div class="col-md-6">
                        <label>کد پستی:</label>
                        <p>{{ soldier.postal_code }}</p>
                    </div>
                </div>
                <hr>
                <!-- Nasein Info -->
                <h4 class="text-success">اطلاعات گروه ناصرین</h4>
                <div class="row">
                    <div class="col-md-4">
                        <label>نام گروه:</label>
                        {% if soldier.naserin_group %}
                            <p>{{ soldier.naserin_group.name }}</p>
                        {% else %}
                            <p>ندارد</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label>نام سرگروه:</label>
                        {% if soldier.naserin_group %}
                            <p>{{ soldier.naserin_group.manager.get_full_name }}</p>
                        {% else %}
                            <p>ندارد</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label>سطح:</label>
                        {% if soldier.degree == "لیسانس" or soldier.degree == "فوق لیسانس" or soldier.degree == "دکتری" %}
                            <p>سطح دو</p>
                        {% else %}
                            <p>سطح یک</p>
                        {% endif %}
                    </div>
                </div>


                <!-- Nasein Info -->
                <h4 class="text-success">اطلاعات مهارت آموزی</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>گروه مهارتی:</label>
                        <p>{{ soldier.skill_group }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مدرک مهارتی:</label>
                        <p>{{ soldier.skill_certificate|default_if_none:"-" }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تعداد:</label>
                        <p>{{ soldier.number_of_certificates }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نیاز به مدرک :</label>
                        {% if soldier.skill_group == "گروه 5 : فوق دیپلم و دیپلم به پایین" or soldier.skill_group == "" or soldier.skill_group is None %}
                            <p>دارد</p>
                        {% else %}
                            <p>ندارد</p>
                        {% endif %}
                    </div>
                </div>

                <hr>
                <!-- Action Buttons -->
                <div class="text-center">
                    <a href="#" class="btn btn-primary">
                        <i class="glyphicon glyphicon-edit"></i> ویرایش اطلاعات
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="glyphicon glyphicon-print"></i> چاپ پرونده
                    </a>
                    <a href="{% url 'manage_soldier_documents' soldier.id %}" class="btn btn-default">
                        <i class="glyphicon glyphicon-print"></i> مدارک پرونده
                    </a>
                    <a href="{% url 'soldier_service_edit' soldier.id %}" class="btn btn-default">
                        <i class="glyphicon glyphicon-print"></i> کسری یا اضافه خدمت
                    </a>
                    <a href="{% url 'soldier_vacation_edit' soldier.id %}" class="btn btn-default">
                        <i class="glyphicon glyphicon-print"></i> استعلام مرخصی
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
