{% extends "shared/_PanelMain.html" %}
{% load static %}
{% load jalali_filters %}
{% block main %}

<style>

    .group-details > div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            cursor: pointer;
    }
.group-details > div > label {
    font-weight: normal;
    font-size: 12px;
}
.col-md-3::after {
    content: "برای کپی کلیک کنید";
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
  }

  .col-md-3:hover::after {
    opacity: 1;
  }
  .head-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">
                    مشخصات و اطلاعات کامل سرباز
                </h3>
            </div>
            <div  style="margin:5px;">
                {% include 'components/soldier_select.html' with soldier=soldier placeholder="انتخاب سرباز:" %}
            </div>
            <div class="panel-body">
                <!-- Soldier Photo -->
                <div class="head-top">
                    <div class="text-center">
                        {% if soldier.photo_scan %}
                            <img src="{{ soldier.photo_scan.url }}"
                                 class="img-thumbnail"
                                 style="max-height: 200px"
                                 alt="عکس سرباز">
                        {% else %}
                            <p class="text-muted">عکس موجود نیست</p>
                        {% endif %}
                    </div>
                    <div >
                        <a href="{% url 'soldier_edit' pk=soldier.pk %}" class="btn btn-primary">
                            <i class="fa fa-edit"></i> ویرایش اطلاعات
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-print"></i> چاپ پرونده
                        </a>
                         <a href="{% url 'single_reports_soldier' soldier.id %}" class="btn btn-default">
                            <i class="fa fa-print"></i> گزارش انفرادی
                        </a>
                        <a href="{% url 'manage_soldier_documents' soldier.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-print"></i> مدارک پرونده
                        </a>
                        <a href="{% url 'soldier_service_edit' soldier.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-print"></i> کسری یا اضافه خدمت
                        </a>
                        <a href="{% url 'soldier_vacation_edit' soldier.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-print"></i> استعلام مرخصی
                        </a>
                    </div>
                </div>
                <hr>

                <!-- Personal Information -->
                <h4 class="text-primary">مشخصات شخصی</h4>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>کد ملی:</label>
                        <p>{{ soldier.national_code }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام:</label>
                        <p>{{ soldier.first_name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام خانوادگی:</label>
                        <p>{{ soldier.first_name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام پدر:</label>
                        <p>{{ soldier.father_name }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>تاریخ تولد:</label>
                        <p>{{ soldier.birth_date|to_jalali }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>محل تولد:</label>
                        <p>{{ soldier.birth_place }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>محل صدور :</label>
                        <p>{{ soldier.issuance_place }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مذهب :</label>
                        {% if soldier.is_sunni %}
                            <p>اهل تسنن</p>
                        {% else %}
                            <p>شیعه</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>قد:</label>
                        <p>{{ soldier.height }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>وزن:</label>
                        <p>{{ soldier.weight }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>رنگ چشم:</label>
                        <p>{{ soldier.eye_color }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>رنگ مو:</label>
                        <p>{{ soldier.hair_color }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>وضعیت تاهل:</label>
                        <p>{{ soldier.marital_status }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تعداد اولاد:</label>
                        <p>{{ soldier.number_of_children }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>متاهل مستقل:</label>
                        <p>{{ soldier.independent_married|default_if_none:'' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>معسرین:</label>
                        {% if soldier.is_needy %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>مدرک تحصیلی:</label>
                        <p>{{ soldier.degree }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>رشته تحصیلی:</label>
                        <p>{{ soldier.field_of_study|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تخصص:</label>
                        <p>{{ soldier.expertise|default_if_none:'-' }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>گواهینامه دارد؟ :</label>
                        <p>{{ soldier.has_driving_license }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نوع گواهینامه :</label>
                        <p>{{ soldier.driving_license_type|default_if_none:'-' }}</p>
                    </div>
                </div>
                <hr>
                <!-- Health Info -->
                <h4 class="text-info">اطلاعات سلامت</h4>
                <div class="row group-details">
                    <div class="col-md-4">
                        <label>وضعیت سلامت:</label>
                        <p>{{ soldier.get_health_status_display }}</p>
                    </div>
                    <div class="col-md-4">
                        <label>توضیحات وضعیت سلامت:</label>
                        <p>{{ soldier.health_status_description }}</p>
                    </div>
                    <div class="col-md-4">
                        <label>گروه خون:</label>
                        <p>{{ soldier.get_blood_group_display }}</p>
                    </div>

                </div>
                <hr>

                <!-- yegan Info -->
                <h4 class="text-success">اطلاعات یگان خدمتی</h4>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>کد سازمانی:</label>
                        <p>{{ soldier.organizational_code.code_number }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نام قسمت :</label>
                        <p>{{ soldier.current_parent_unit.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>زیرقسمت :</label>
                        <p>{{ soldier.current_sub_unit.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نوع قسمت :</label>
                        <p>{{ soldier.current_sub_unit.work_type }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>نوع حضور:</label>
                        <p>{{ soldier.traffic_status }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>جذبی:</label>
                        {% if soldier.absorption %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label>معرف:</label>
                        <p>{{ soldier.referral_person|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>پاسدار وظیفه:</label>
                        {% if soldier.is_guard_duty %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>فراری:</label>
                        {% if soldier.is_fugitive %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label>سابقه فرار:</label>
                        <p>{{ soldier.fugitive_record|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>سابقه اعتیاد:</label>
                        <p>{{ soldier.addiction_record|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تراشه/کارت:</label>
                        <p>{{ soldier.card_chip|default_if_none:'-' }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>مقدار خدمت انجام شده:</label>
                        {% if soldier.is_fugitive %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label>مجموع (کسری/اضافه خدمت):</label>
                        <p>{{ soldier.total_service_adjustment }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نوع کسری خدمت:</label>
                        <p>{{ soldier.service_deduction_type }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>پایان خدمت :</label>
                        <p>{{ soldier.service_end_date|to_jalali }}</p>
                    </div>
                </div>
                <!-- Military Info -->
                <h4 class="text-warning">اطلاعات نظامی</h4>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>کد پاسداری:</label>
                        <p>{{ soldier.id_card_code|default_if_none:'-' }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>درجه:</label>
                        <p>{{ soldier.get_rank_display }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تاریخ اعزام:</label>
                        <p>{{ soldier.dispatch_date|to_jalali }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تاریخ ورود به یگان:</label>
                        <p>{{ soldier.service_entry_date|to_jalali }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>نام آموزشگاه رزم مقدماتی:</label>
                        <p>{{ soldier.basic_training_center.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مدت آموزش (روز):</label>
                        <p>{{ soldier.training_duration }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مدت خدمت ضرورت:</label>
                        <p>{{ soldier.essential_service_duration }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>کفایتدار بسیج:</label>
                        {% if soldier.Is_the_Basij_sufficient %}
                            <p>بله</p>
                        {% else %}
                            <p>خیر</p>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <!-- Contact Info -->
                <h4 class="text-success">اطلاعات تماس</h4>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>تلفن همراه:</label>
                        <p>{{ soldier.phone_mobile }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>همراه مجازی:</label>
                        <p>{{ soldier.phone_virtual }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>همراه پدر یا مادر:</label>
                        <p>{{ soldier.phone_parents }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>منزل:</label>
                        <p>{{ soldier.phone_home }}</p>
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>استان:</label>
                        <p>{{ soldier.residence_province.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>شهر:</label>
                        <p>{{ soldier.residence_city.name }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>کیلومتر:</label>
                        <p>{{ soldier.residence_city.distance }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>وضعیت:</label>
                        {% if soldier.residence_province.native %}
                            <p>بومی</p>
                        {% else %}
                            <p>غیربومی</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row group-details">
                    <div class="col-md-6">
                        <label>آدرس:</label>
                        <p>{{ soldier.address }}</p>
                    </div>
                    <div class="col-md-6">
                        <label>کد پستی:</label>
                        <p>{{ soldier.postal_code }}</p>
                    </div>
                </div>
                <hr>
                <!-- Nasein Info -->
                <h4 class="text-success">اطلاعات گروه ناصرین</h4>
                <div class="row group-details">
                    <div class="col-md-4">
                        <label>نام گروه:</label>
                        {% if soldier.naserin_group %}
                            <p>{{ soldier.naserin_group.name }}</p>
                        {% else %}
                            <p>ندارد</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label>نام سرگروه:</label>
                        {% if soldier.naserin_group %}
                            <p>{{ soldier.naserin_group.manager.get_full_name }}</p>
                        {% else %}
                            <p>ندارد</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label>سطح:</label>
                        {% if soldier.degree == "لیسانس" or soldier.degree == "فوق لیسانس" or soldier.degree == "دکتری" %}
                            <p>سطح دو</p>
                        {% else %}
                            <p>سطح یک</p>
                        {% endif %}
                    </div>
                </div>


                <!-- Nasein Info -->
                <h4 class="text-success">اطلاعات مهارت آموزی</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>گروه مهارتی:</label>
                        <p>{{ soldier.skill_group }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>مدرک مهارتی:</label>
                        <p>{{ soldier.skill_certificate|default_if_none:"-" }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تعداد:</label>
                        <p>{{ soldier.number_of_certificates }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>نیاز به مدرک :</label>
                        {% if soldier.skill_group == "گروه 5 : فوق دیپلم و دیپلم به پایین" or soldier.skill_group == "" or soldier.skill_group is None %}
                            <p>دارد</p>
                        {% else %}
                            <p>ندارد</p>
                        {% endif %}
                    </div>
                </div>

                <hr>
                <h4 class="text-success">اطلاعات عقیدتی</h4>
                <div class="row group-details">
                    <div class="col-md-3">
                        <label>نام دوره:</label>
                        <p>{{ soldier.ideological_training_period.name|default_if_none:"-" }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>تاریخ دوره:</label>
                        <p>{{ soldier.ideological_training_period.date|default_if_none:"-" }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>توضیحات:</label>
                        <p>{{ soldier.ideological_training_period.description|default_if_none:"-" }}</p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
<div id="copy-toast" style="
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 9999;
    font-family: sans-serif;
">
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const items = document.querySelectorAll('.col-md-3 > p , .col-md-6 > p ');

        items.forEach(el => {
            el.style.cursor = 'pointer';

            el.addEventListener('click', function () {
                const text = el.innerText.trim();

                if (!text) return;

                if (navigator.clipboard) {
                    navigator.clipboard.writeText(text).then(() => {
                       showToast(`${text} کپی شد!`);
                    });
                } else {
                    const textarea = document.createElement("textarea");
                    textarea.value = text;
                    document.body.appendChild(textarea);
                    textarea.select();
                    document.execCommand("copy");
                    document.body.removeChild(textarea);
                    showToast(`${text} کپی شد!`);
                }
            });
        });

        function showToast(message) {
            const toast = document.getElementById('copy-toast');
            toast.textContent = message;
            toast.style.display = 'block';

            setTimeout(() => {
                toast.style.display = 'none';
            }, 2000);
        }
    });
</script>
{% endblock %}
