<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <handlers>
            <add name="almahdiapp" path="*" verb="*" modules="FastCgiModule" 
            scriptProcessor="C:\inetpub\wwwroot\almahdiapp\env\Scripts\python.exe|C:\inetpub\wwwroot\almahdiapp\env\Lib\site-packages\wfastcgi.py"
             resourceType="Unspecified" requireAccess="Script" />
        </handlers> -->
        <handlers>
            <add 
                name="almahdiapp" 
                path="*" 
                verb="*" 
                modules="FastCgiModule" 
                scriptProcessor="C:\inetpub\wwwroot\almahdiapp\env\Scripts\python.exe|C:\inetpub\wwwroot\almahdiapp\env\Lib\site-packages\wfastcgi.py" 
                resourceType="Unspecified"
            />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="almahdiapp.settings" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\almahdiapp\" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
