{% extends 'shared/_PanelMain.html' %}
{% load static %}


{% block main %}
    <div class="panel panel-success">
        <div class="panel-heading">سربازان آماده برای ارسال کارت</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام و نام خانوادگی</th>
                    <th>کد ملی</th>
                    <th>سری کارت</th>
                    <th>تاریخ بررسی</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ready_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.soldier.first_name }} {{ item.soldier.last_name }}</td>
                        <td>{{ item.soldier.national_code }}</td>
                        <td>{{ item.series.title }}</td>
                        <td>{{ item.review_date|default:"-" }}</td>
                        <td>{{ item.note|default:"-" }}</td>
                        <td>
                            <a href="{% url 'send_card' item.id %}" class="btn btn-xs btn-success">
                                ارسال کارت
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">موردی برای نمایش وجود ندارد.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}