{% extends '../soldier_letter_apps_layout.html' %}
{% load static %}

{% block page %}
  <h3>فرم تعهد نامه</h3>
    <div class="container card">
        <form method="post">
            {% csrf_token %}
            {{ form.soldier.label }}
            {{ form.soldier }}
            {{ form.type_card_chip.label }}
            {{ form.type_card_chip }}
            <button type="submit" class="btn btn-primary">ثبت</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $('select').select2({
            allowClear:true,
        })
    </script>
{% endblock %}