{% extends 'shared/_PanelMain.html' %}
{% load static %}
{% block main %}
  {% include "../letter_types_nav_layout.html" %}

  <h3>{{ title }}</h3>
    <div class="container card">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-6">
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-success">ثبت نامه توسیه حساب داخلی</button>
                    <a href="{% url 'judicial_inquiry_list' %}" class="btn btn-default">بازگشت</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $('select').select2({
            allowClear:true,
        })
    </script>
{% endblock %}