{% extends 'shared/_PanelMain.html' %}
{% load static %}

{% block main %}
  {% include "../letter_types_nav_layout.html" %}

<div class="container">
        <h3 class="text-center">فرم تست تاییدیه سلامت و روان</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">ثبت</button>
        </form>
        <script src="{% static 'dist/js/jquery-3.6.0.min.js' %}"></script>
        <script>
            $('#id_part').change(function () {
                var url = "{% url 'ajax_load_sub_units' %}";
                var partId = $(this).val();
                $.ajax({
                    url: url,
                    data: {'part': partId},
                    success: function (data) {
                        $("#id_sub_part").html(data);
                    }
                });
            });
        </script>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $('select').select2({
            allowClear:true,
        })
    </script>
{% endblock %}