{% extends '../soldier_letter_apps_layout.html' %}

{% load static %}


{% block page %}
  {% include "../letter_types_nav_layout.html" %}

    <div class="container">
        <h3>آیا مطمئن هستید که می‌خواهید این نامه را حذف کنید؟</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">بله، حذف شود</button>
            <a href="{% url 'introduction_letter_list' %}" class="btn btn-secondary">انصراف</a>
        </form>
    </div>
{% endblock %}