{% extends 'shared/_LetterA5.html' %}
{% load static %}
{% load jalali_filters %}

{% block title %}نامه تسویه حساب{% endblock %}

{% block content %}
        بدین‌وسیله به اطلاع می‌رساند سرباز وظیفه
        <strong class="f-btitr">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
        فرزند <strong class="f-btitr">{{ letter.soldier.father_name }}</strong> با شماره ملی
        <strong class="f-btitr">{{ letter.soldier.national_code }}</strong> و تاریخ اعزام
        <strong class="f-btitr">{{ letter.soldier.dispatch_date|to_jalali }}</strong>
        به دلیل <strong class="f-btitr">{{ letter.description }}</strong> « {{inquiry.reason}} » استعلام قضایی صادر فرمایید.

        <h5 style="font-weight:bold;">نام قسمت : {{letter.soldier.current_parent_unit}}</h5>
        <h5 style="font-weight:bold;">نام زیر قسمت : {{letter.soldier.current_sub_unit}}</h5>
{% endblock %}
