{% extends 'shared/_LetterA5.html' %}
{% load static %}
{% load jalali_filters %}
{% load req %}

{% block title %}نامه معرفی به قسمت{% endblock %}

{% block content %}
  با صلوات بر محمد (ص) و آل محمد (ص) و با احترام،
  بدین‌وسیله سرباز وظیفه
  <strong class="f-btitr">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
  فرزند <strong class="f-btitr">{{ letter.soldier.father_name }}</strong>
  با شماره ملی <strong class="f-btitr">{{ letter.soldier.national_code }}</strong>،
  کد سربازی <strong class="f-btitr">{{ letter.soldier.sarbazi_code|default:'0' }}</strong> و
  تاریخ اعزام <strong class="f-btitr">{{ letter.soldier.dispatch_date|to_jalali }}</strong>
  در تاریخ <strong class="f-btitr">{{ letter.letter_date|to_jalali }}</strong>
  جهت به‌کارگیری به عنوان
  <strong class="f-btitr">«{{ letter.sub_part|default:'!زیر قسمت انتخاب نشده!' }}»</strong>
  حضورتان معرفی می‌گردد.
{% endblock %}

{% block pages %}
<style>
    .content {
        padding:5px;
    }
    .custom-content{
        font-size:14px;
    }
    .content-masol {
        padding:10px 5px;
    }
    .signature-masol {
        width:40%;
        height:48px;
        display:flex;
        align-items:center;
        justify-content:center;
        font-weight:bold;
        color:#aaa;

    }
    .page2 .footer {
        margin:10px 0;
    }
 
    .footer-masol .org-code {
        margin-top:0;
    }
</style>
<div class="page page2">
    <div class="print-content f-bnazanin">

    <!-- محتوای متغیر نامه -->
    <div class="content-box">
            <!-- هدر -->
                    <div class="header">
                            <div class="sepah-logo f-bkoodak">
                                <img src="{% static 'img/Sepah.png' %}" alt="آرم راست"/>
                                <br/>
                                <span  style="font-size: 10px; margin: 0 4px">نیروی زمینی</span>
                            </div>
                            <div class="f-btitr">
                                <div class="f-irnasq text-center" style="font-size: 18px; ">بسمه تعالی</div>
                                <img src="{% static 'img/allah-placeholder.png' %}" alt="آرم وسط">
                            </div>
                            <div class="left-info">
                              <div class="letter-detail">
                                  <div style="display: flex;align-items: center;justify-content: space-between">
                                      <strong class="f-btitr">شماره نامه : </strong><span class="f-bkoodak" style="font-size: 10px">512/106/6/{{ letter.letter_number|lnumtrans }}ز</span><span></span>
                                  </div>
                                  <br/>
                                  <div style="display: flex;align-items: center;justify-content: space-between">
                                    <strong class="f-btitr">تاریخ : </strong> <span class="f-bkoodak"  style="font-size: 10px">{{ letter.date|to_jalali }}</span>
                                  </div>
                              </div>
                            </div>
                      </div>
                      <div class="slogan f-btitr">
                        «افزایش توان دفاع همه‌جانبه در سال جهش تولید با مشارکت مردم»
                      </div>
                <div class="letter-refrences f-btitr" >
                    <strong> به : {{ letter.destination }}</strong>
                    <br>
                    <strong> از :  آموزشگاه رزم مقدماتی المهدی (عج) نیروی زمینی سپاه - مدیریت نیروی انسانی - منابع انسانی سرباز</strong>
                </div>
                  <div class="f-btitr" style="font-size: 18px;font-weight:bold;margin-top:5px  ">
                    موضوع : {{ letter.subject|default:letter.letter_type }}
                  </div>
                    <div  style="margin:0 55px 0;font-size: 24px;font-style: italic;">
                        سلام علیکم
                    </div>

      <div style="margin-top: 0;"  class="content flex-content letter-content  ">
        <div class="custom-content letter-content">
              <span class="salavat" style="font-weight: bold">(( اَللّهُمّ صَلَّ عَلی مُحَمَّدِ وَآلِ مُحَمَّد))</span>
                   <span class="respect">با احترام،</span>
        بدین‌وسیله سرباز وظیفه
        <strong class="f-btitr">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
        فرزند <strong class="f-btitr">{{ letter.soldier.father_name }}</strong>
        با شماره ملی <strong class="f-btitr">{{ letter.soldier.national_code }}</strong>،
        کد سربازی <strong class="f-btitr">{{ letter.soldier.sarbazi_code }}</strong> و
        تاریخ اعزام <strong class="f-btitr">{{ letter.soldier.dis|to_jalali }}</strong>
        در تاریخ <strong class="f-btitr">{{ letter.letter_date|to_jalali }}</strong>
        جهت به‌کارگیری به عنوان
        <strong class="f-btitr">«{{ letter.sub_part|default:'!زیر قسمت انتخاب نشده!' }}»</strong>
        حضورتان معرفی می‌گردد.
        </div>
      </div>
      
              <div class="footer" >
                  <div class="signature">
                        <div class="signature-name f-btitr">
                            <span class="manager-dagre" >{{ signature.degree|default:"سرهنگ دوم پاسدار" }}</span>
                            <span style="margin: 0 10px;"></span>
                            <span class="manager-name">{{ signature.name|default:"رضا سروی" }}</span>
                        </div>
                        <div class="manager-title f-btitr">
                            {{ signature.duty|default:"مدیر نیروی انسانی" }} آموزشگاه رزم مقدماتی المهدی (عج)
                            <br>
                            نیروی زمینی سپاه
                        </div>
                  </div>
              </div>

    </div>
    {% if letter.soldier.organizational_code %}
    <div class="org-code">
      <span >{{ letter.soldier.organizational_code }}</span>
    </div>
    {% endif %}

    <div class="breaker"></div>
<div class="masol-box">
    <div class="content-box f-bnazanin">
        <div >
            <strong class="f-btitr">به : {{letter.destination}}</strong>
            <br>
            <strong class="f-btitr">از : قسمت نیروی انسانی آموزشگاه رزم مقدماتی المهدی (عج) نیروی زمینی سپاه </strong>
        </div>
        <div class="content-masol">
            با احترام بدین‌وسیله، بازگشت به نامه‌ی شماره‌ی 
            <strong class="f-btitr">{{ letter.letter_number|lnumtrans }}</strong> مورخ <strong>{{ letter.date|to_jalali }}</strong>
            به اطلاع می‌رسد سرباز وظیفه
            <strong class="f-btitr">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
            فرزند <strong class="f-btitr">{{ letter.soldier.father_name }}</strong>
            خود را در تاریخ <strong class="f-btitr">{{ letter.letter_date|to_jalali }}</strong> 
            به این قسمت معرفی نموده است.
        </div>

        <div class="footer">
            <div class="signature">
                <div class="signature-name f-btitr">
                   امضای مسئول  {{letter.part_of}}
                </div>
            </div>
        </div>
        
    </div>
        {% if letter.soldier.organizational_code %}
            <div class="org-code">
                <span class="">{{ letter.soldier.organizational_code }}</span>
            </div>
        {% endif %}
    </div>
    
</div>
  </div>
</div>


{% endblock %}
