{% extends 'shared/_LetterA5.html' %}
{% load static %}
{% load jalali_filters %}

{% block title %}نامه تسویه حساب{% endblock %}

{% block content %}
  بدین‌وسیله به اطلاع می‌رساند سرباز وظیفه
  <strong class="f-btitr">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
  فرزند <strong class="f-btitr">{{ letter.soldier.father_name }}</strong> با شماره ملی
  <strong class="f-btitr">{{ letter.soldier.national_code }}</strong> و تاریخ اعزام
  <strong class="f-btitr">{{ letter.soldier.dispatch_date|to_jalali }}</strong>
  به دلیل <strong class="f-btitr">«{{ domestic_settlement.reason }}»</strong> تسویه حساب نموده و به این قسمت معرفی می‌گردد.
{% endblock %}
