{% extends 'shared/_LetterA5.html' %}
{% load static %}
{% load jalali_filters %}

{% block title %}نامه تسویه حساب{% endblock %}

{% block content %}
      <div  >
        بدین‌وسیله به اطلاع می‌رساند سرباز وظیفه
        <strong>{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
        فرزند <strong>{{ letter.soldier.father_name }}</strong> با شماره ملی
        <strong>{{ letter.soldier.national_code }}</strong> و تاریخ اعزام
        <strong>{{ letter.soldier.enlistment_date|to_jalali }}</strong>
        به دلیل <strong>{{ letter.description }}</strong> « {{inquiry.reason}} » استعلام قضایی صادر فرمایید.
      </div>
      <div>
        <h5 style="font-weight:bold;">نام قسمت : {{letter.soldier.current_parent_unit}}</h5>
        <h5 style="font-weight:bold;">نام زیر قسمت : {{letter.soldier.current_sub_unit}}</h5>
      </div>
{% endblock %}
