        <table>
            <thead>
                <tr>
                    <th>اولویت</th>
                    <th colspan="2">مرجع</th>
                    <th>تاریخ</th>
                    <th>نام و امضا مسئول</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td colspan="2">مسئول مستقیم</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td colspan="2">گردان قرارگاه</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">3</td>
                    <td colspan="2">حوزه محترم نمایندگی ولی فقیه</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">تاید و نظارت و صلاحیت</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td colspan="2">مالی و فرهنگی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td colspan="2">مالی و ذیحسابی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">6</td>
                    <td colspan="1" rowspan="4">پشتیبانی</td>
                    <td>کنترل اموال</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ملزومات انفرادی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ترابری</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>تسلیحات</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td colspan="2">مهندسی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td colspan="2">خدمات درمانی نیروهای مسلح</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>بهداری</td>
                    <td>درمان</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td colspan="2">فاوا</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>تربیت بدنی</td>
                    <td>آمادگی جسمانی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td colspan="2">ایمنی و اقدامات تامینی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>خدمات کارکنان</td>
                    <td>فروشگاه</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>آموزش</td>
                    <td>سرگروه ناصرین</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3">15</td>
                    <td rowspan="3">نیروی انسانی</td>
                    <td>کاگ رسمی - امور گذرنامه</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>مهارت آموزی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>قضایی</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td colspan="2">حفاظت و اطلاعات</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
