{% extends 'shared/_LetterA5.html' %}
{% load static %}
{% load jalali_filters %}

{% block title %}نامه تسویه حساب{% endblock %}

{% block content %}
        بدین‌وسیله به اطلاع می‌رساند سرباز وظیفه
        <strong class="f-btitr">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</strong>
        فرزند
        <strong class="f-btitr">{{ letter.soldier.father_name }}</strong>
        با شماره ملی
        <strong class="f-btitr">{{ letter.soldier.national_code }}</strong>
        و تاریخ اعزام
        <strong class="f-btitr">{{ letter.soldier.dispatch_date|to_jalali }}</strong>
        از تاریخ 
        <strong class="f-btitr">{{ runaway_letter.absence_start_date|to_jalali }}</strong> 
        {% if runaway_letter.absence_end_date %}
                تا تاریخ
                <strong class="f-btitr">{{ runaway_letter.absence_end_date|to_jalali }}</strong>  
        {% else %}
        تا کنون 
        {% endif %}
        غیبت دارد.
        <p style="font-weight:bolder;margin: 30px 0 10px;">
                مراتب جهت اقدامات بعدی حضورتان ارسال می‌گردد.
        </p>
        <h5 style="font-weight:bolder;display: flex;">
                <span style="flex: 1;">شماره همراه : {{letter.soldier.phone_mobile|default:""}}</span>
                <span style="flex: 1;">شماره منزل : {{letter.soldier.phone_home|default:""}}</span>
        </h5>
        <h5 style="font-weight:bolder;margin: 0;padding: 0;">آدرس : {{letter.soldier.address|default:""}}</h5>
{% endblock %}
 