{% extends 'shared/_PanelMain.html' %}
{% load static %}

{% load jalali_filters %}
{% block header %}
    <style>

        .panel-custom {
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .panel-custom .panel-heading {
            background-color: #337ab7;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px 5px 0 0;
        }

        .panel-custom .panel-body {
            padding: 20px;
        }

        .form-group {
            display:flex;
            align-items:center;
        }
        .form-group label {
            flex:2;            
        }
        .form-group input {
            flex:1;            
        }

        .form-control {
            width: 100%;
            border-radius: 3px;
            border: 1px solid #ccc;
            padding: 8px 12px;
        }

        .btn-primary {
            background-color: #337ab7;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
        }

        .btn-primary:hover {
            background-color: #286090;
        }

        .help-text {
            font-size: 12px;
            color: #777;
        }

        .alert-danger {
            font-size: 12px;
            padding: 5px;
            margin-top: 5px;
        }
        .row > div > div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            box-sizing: border-box;
        }
        
        .row > div > div > label {
            flex: 1;
            display:block;
            font-size: 12px;
        }
        
        .row > div > div > input {
            width:30%;
            border-radius: 5px;
            background-color: #efefef;
            border: 1px solid #ccc;
            padding: 5px;
            text-align: center;
        }
        .notes textarea {
            width: 100%;
            height: 100%;
            resize: none;
             border-radius: 5px;
            background-color: #efefef;
            border: 1px solid #ccc;
            padding: 5px;
        }
        .panel-heading {
            font-size:20px;
            font-weight:bold;
        }
    </style>
{% endblock %}


{% block main %}
    <div class="container">
        <h2 class="text-center mb-5">
            <span>فرم کسری و اضافه خدمت سرباز وظیفه</span>
            <span class="badge" style="padding: 10px 20px;">
               کد ملی : {{soldier.national_code}} , {{ soldier.first_name }} {{ soldier.last_name }} - [{{ soldier.organizational_code }}]
            </span>
        </h2>
        <div  style="margin:20px auto;">
            {% include 'components/soldier_select.html' with soldier=soldier placeholder="انتخاب سرباز:" %}
        </div>

        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <!-- بخش کسری‌ها -->
            <div class="panel panel-custom panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-minus-circle"></i> کسری‌ها
                </div>
                <div class="panel-body">
                    <div class="row">
                         <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_veterans">کسری رزمندگان:</label>
                                {{ form.reduction_veterans }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_disability">کسری جانبازی:</label>
                                {{ form.reduction_disability }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_bsj">کسری بسیج:</label>
                                {{ form.reduction_bsj }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_project">کسری پروژه:</label>
                                {{ form.reduction_project }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_children">کسری فرزند:</label>
                                {{ form.reduction_children }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_spouse">کسری همسر:</label>
                                {{ form.reduction_spouse }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_operational_areas">کسری مناطق عملیاتی:</label>
                                {{ form.reduction_operational_areas }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_seniority">بخشش سنواتی:</label>
                                {{ form.reduction_seniority }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_non_local">کسر غیربومی:</label>
                                {{ form.reduction_non_local }}
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_system_adjustment">تطبیق با سامانه:</label>
                                {{ form.reduction_system_adjustment }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_other">غیره:</label>
                                {{ form.reduction_other }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reduction_total">مجموع کسری خدمت:</label>
                                {{ form.reduction_total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- بخش اضافه خدمت -->
            <div class="panel panel-custom" style="margin-top: 20px;">
                <div class="panel-heading"><i class="fa fa-plus-circle"></i> اضافه خدمت</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addition_seniority">سنواتی:</label>
                                {{ form.addition_seniority }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addition_discipline">انضباطی:</label>
                                {{ form.addition_discipline }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addition_gap">خلاء:</label>
                                {{ form.addition_gap }}
                            </div>
                        </div>
                          <div class="col-md-3">
                            <div class="form-group">
                                <label for="addition_system">سامانه:</label>
                                {{ form.addition_system }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addition_other">غیره:</label>
                                {{ form.addition_other }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addition_total">مجموع اضافه خدمت:</label>
                                {{ form.addition_total }}
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            <!-- بخش تاریخ‌ها -->
            <div class="panel panel-custom" style="margin-top: 20px;">
                <div class="panel-heading">
                    <i class="fa fa-calendar"></i> تاریخ‌ها
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                             <div class="form-group">
                                <label for="start_date">تاریخ اعزام:</label>
                                {{ form.start_date.value|to_jalali_to }}
                            </div>
                            <div class="form-group">
                                <label for="actual_service_end_date">پایان خدمت اصلی:</label>
                                {{ form.actual_service_end_date.value|to_jalali_to }}
                            </div>
                            
                            <div class="form-group">
                                <label for="service_end_date"> پایان خدمت اصلی با کسری:</label>
                                {{ form.service_end_date.value|to_jalali_to }}
                            </div>
                            <div class="form-group">
                                <label for="calculate_until_date">محاسبه تا تاریخ:</label>
                                {{ form.calculate_until_date.value|to_jalali_to }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>توضیحات : </label>
                        <div class="form-group notes">
                            {{ form.notes }}
                        </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="panel panel-custom" style="margin-top: 20px;">
                <div class="panel-heading">
                    <i class="fa fa-clock-o"></i> خدمت به روز
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="main_service_days">خدمت اصلی به روز:</label>
                                {{ form.main_service_days }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secondary_service_days">کمکی (خدمت اصلی):</label>
                                {{ form.secondary_service_days }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- بخش خدمت دوره ضرورت -->
            <div class="panel panel-custom" style="margin-top: 20px;">
                <div class="panel-heading">
                    <i class="fa fa-calendar-check-o"></i> خدمت دوره ضرورت
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mandatory_service_months">خدمت دوره ضرورت (به ماه):</label>
                                {{ form.mandatory_service_months }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="form-group mt-5" style="display: flex; align-items: center; gap: 4px;">
                    <a href="javascript:history.back()" class="btn btn-danger mx-2 shadow-sm">
                        ⬅️ بازگشت
                    </a>
                    <div style="flex: 1;"> </div>
                    <button type="submit" class="btn btn-success mx-2 shadow-sm">
                        💾 ذخیره
                    </button>

                    <button class="btn btn-info mx-2 shadow-sm text-white">
                        ✏️ ذخیره و ویرایش
                    </button>
                </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
<script>
     onChangeSelectedSoldier = (soldierId,soldierText)=>{
        if (soldierId) {
            window.location.href = "{% url 'soldier_service_edit' soldier_id=0 %}".replace("0", soldierId);
        }
    }
</script>
{% endblock %}