{% extends 'shared/_PanelMain.html' %}
{% load static %}

{% block main %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    لیست دوره‌های عقیدتی
                </h3>
            </div>
            <div class="panel-body">
                <a href="{% url 'religious_period_add' %}" class="btn btn-primary" style="margin-bottom: 15px;">
                    <i class="glyphicon glyphicon-plus"></i> افزودن دوره جدید
                </a>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover text-center">
                        <thead>
                        <tr class="active">
                            <th>#</th>
                            <th>کد دوره</th>
                            <th>نام دوره</th>
                            <th>تاریخ</th>
                            <th>توضیحات</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for period in periods %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ period.id }}</td>
                                <td>{{ period.name }}</td>
                                <td>{{ period.date }}</td>
                                <td>{{ period.description }}</td>
                                <td>
                                    <a href="{% url 'religious_period_edit' period.pk %}"
                                       class="btn btn-warning btn-sm">
                                        <i class="glyphicon glyphicon-edit"></i> ویرایش
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-danger">هیچ دوره‌ای ثبت نشده است.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}