{% extends 'shared/_PanelMain.html' %}
{% load static %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-user"></i> لیست سربازان بدون دوره عقیدتی
                </h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-success" id="download-btn" style="margin-bottom: 15px;">
                    <i class="glyphicon glyphicon-download-alt"></i> دانلود اکسل
                </button>
                <div class="table-responsive">
                    <table id="soldiers-table" class="table table-bordered table-striped table-hover text-center">
                        <thead>
                        <tr class="info">
                            <th>#</th>
                            <th>کد سازمانی</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>کد ملی</th>
                            <th>قسمت</th>
                            <th>زیرقسمت</th>
                            <th>مدرک</th>
                            <th>درجه</th>
                            <th>موبایل</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for soldier in soldiers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ soldier.organizational_code.code_number }}</td>
                                <td>{{ soldier.first_name }}</td>
                                <td>{{ soldier.last_name }}</td>
                                <td>{{ soldier.national_code }}</td>
                                <td>{{ soldier.current_parent_unit.name }}</td>
                                <td>{{ soldier.current_sub_unit.name }}</td>
                                <td>{{ soldier.degree }}</td>
                                <td>{{ soldier.rank }}</td>
                                <td>{{ soldier.phone_mobile }}</td>
                                <td>
                                    <a href="{% url 'soldier_detail' pk=soldier.id %}" class="btn btn-info btn-xs">
                                        <i class="glyphicon glyphicon-eye-open"></i> اطلاعات
                                    </a>
                                    <a href="{% url 'edit_ideological_period' soldier.id %}"
                                       class="btn btn-primary btn-xs">
                                        <i class="glyphicon glyphicon-education"></i> دوره عقیدتی
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="11" class="text-center text-danger">هیچ سربازی بدون دوره عقیدتی پیدا نشد.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        document.getElementById('download-btn').addEventListener('click', function () {
            var table = document.getElementById('soldiers-table');
            var wb = XLSX.utils.table_to_book(table, {sheet: 'بدون دوره عقیدتی'});
            XLSX.writeFile(wb, 'soldiers_without_training.xlsx');
        });
    </script>
{% endblock %}
