{% extends 'shared/_PanelMain.html' %}
{% load static %}
{% block header %}

{% endblock %}
{% block main %}
    <div class="container" style="margin-top:50px; max-width:500px;">
        <h2 class="text-center">تغییر رمز عبور</h2>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label col-sm-4">{{ field.label_tag }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                    <a href="{% url 'panel_home' %}" class="btn btn-default">لغو</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
