{% load jalali_filters %}
{% load extra_filters %}

<style>


</style>
<!-- ClearanceLetterList Component -->
<div  class="data-list">
    <ul id="{{data_target}}" class="data-items">
        {% if letters %}
            {% for letter in letters %}
                <li class="data-item">
                    <div style="flex:1;" class="soldier-info">
                        <div class="name">{{ letter.soldier.first_name }} {{ letter.soldier.last_name }}</div>
                        <span class="code">کدملی :{{ letter.soldier.national_code }}</span>
                    </div>
                    <div  class="letter-info">
                        <div  class="issue-date">تاریخ صدور تسویه : {{ letter.issue_date|to_jalali }}</div>
                        <div style="display:flex;align-items:center;gap: 4px;">
                            <span class="badge {{ letter.reason|slugify }}">{{ letter.reason }}</span>
                            <span style="width: auto;background-color: darkgreen;font-weight: bold;" class="badge badge-success">
                                {% if  letter.reminde_issue_days   == 0 %}
                                    امروز
                                {% elif letter.reminde_issue_days   < 0 %}
                                    {{ letter.reminde_issue_days  |abs_val  }} روز دیگر)
                                {% else %}
                                    {{ letter.reminde_issue_days   }} روز پیش
                                {% endif %}
                            </span>

                        </div>
                    </div>
                    <div class="letter-actions">
                        <button class="action-btn view" title="مشاهده نامه">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button class="action-btn print" title="چاپ نامه">
                            <i class="fa fa-print"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li class="data-empty">هیچ نامه‌ای ثبت نشده است.</li>
        {% endif %}
    </ul>
</div>
