{% load render_partial %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head id="header-parital">
    {% render_partial 'header_references_partial_view' %}
    {% block header %}

    {% endblock %}
</head>
{% render_partial 'header_partial_view' %}
{% render_partial 'navbar_partial_view' %}

<body class="hold-transition skin-yellow-light sidebar-mini">
<div class="wrapper">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% comment %} <section class="content-header">
            <h1>
                عنوان صفحه
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>خانه</a></li>
                <li class="active">صفحه</li>
            </ol>
        </section>
        <div class="head_p">
            <p>منابع انسانی</p>
        </div> {% endcomment %}
        <!-- Main content -->
        <section class="content container-fluid">

            {% block main %}no data{% endblock %}

        </section>
        <!-- /.content -->
    </div>
<footer 
    style="
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 10px 0;
        font-family: IRANSans, sans-serif;
        background-color: rgba(20, 20, 20, 0.9);
        color: #ccc;
        z-index: 9999;
    " 
    class="main-footer text-center">

    <h5 style="   color: #ccc;padding: 0; margin: 0; font-size: 11px;">
        <span>توسعه‌دهنده و طراح نرم‌افزار:</span>
        <strong style="background-color: crimson; border-radius: 4px; padding: 2px 10px; color: white;">
            ⭐ ستوان سوم وظیفه سجاد سیفی لر (سرباز کارگزینی وظیفه)
        </strong>
    </h5>

    <h5 style="   color: #ccc;padding: 0; margin: 0; font-size: 11px;">
        <span>با مدیریت:</span>
        <strong style="background-color: cornflowerblue; border-radius: 4px; padding: 2px 10px; color: white;">
            ⭐⭐ ستوان دوم پاسدار میثم گل بابازاده (کارشناس منابع سرباز)
        </strong>
    </h5>

</footer>



</div>

{% include 'shared/_FooterReferences.html' %}


{% block footer %}
{% endblock %}

</body>
</html>
