{% extends 'shared/_PanelMain.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/analystics_style.css' %}">
{% endblock %}

{% block main %}
{% include '../layout/AnalysticsNavbar.html' %}
<div class="container-fluid">
<div class="stats-card">
    <div class="card form-card">
     <form method="get" class="row">
        <div class="col-md-6">
          {{ form.unit.label_tag }} 
          <div class="select2 w-100">
            {{ form.unit }}
          </div>
        </div>
        <div class="col-md-6 ">
          {{ form.month.label_tag }}  
          <div class="select2 w-100">
            {{ form.month }} 
          </div>
        </div>
        <div class="col-md-6">
            {{ form.base_date.label_tag }} {{ form.base_date }}
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-light w-100">نمایش گزارش</button>
        </div>
     </form>
  </div>

 <div class="card">
    <div class="stat-row">
      <span class="stat-key">ترخیصی‌های قسمت 
         {% if data and data.unit %}
            {{ data.unit.name }}
        {% else %}
            نامشخص
        {% endif %}: 
      </span>
      <span class="stat-value">
      {{data.unit_discharged_counts|default:"0"}} نفر
      </span>
    </div>
        <div class="stat-row">
      <span class="stat-key">سربازان موجود در قسمت 
         {% if data and data.unit %}
            {{ data.unit.name }}
        {% else %}
            نامشخص
        {% endif %}: 
      </span>
      <span class="stat-value">
      {{data.soldiers_exist_in_unit|default:"0"}} نفر
      </span>
    </div>

    <div class="stat-row">
      <span class="stat-key">ترخیصی‌های آموزشگاه:</span>
      <span class="stat-value">{{ data.academy_discharged_counts|default:"0" }} نفر</span>
    </div>

    <div class="stat-row">
      <span class="stat-key">
        درصد سربازان موجود در قسمت
        {% if data and data.unit %}
            {{ data.unit.name }}
        {% else %}
            نامشخص
        {% endif %}
        نسبت به کل سربازان:
      </span>
      <span class="stat-value">{{ data.percentage_in_unit_counts|default:"0.0" }}%</span>
    </div>

    <div class="stat-row">
      <span class="stat-key">تعداد کل سربازان حاضر:</span>
      <span class="stat-value">{{ data.total_soldiers_counts|default:"0" }} نفر</span>
    </div>
  </div>
</div>
  {% if data %}
 

  <!-- جدول زیرواحدها -->
  <h5>جزئیات زیرواحدها ({{ data.unit.name }})</h5>
  <div class="table-responsive">
    <table class="table table-bordered table-sm text-center">
      <thead class="table-light">
        <tr>
            <th >نام قسمت</th>
            <th class="rotate">تعداد</th>
            <th class="rotate">سالم</th>
            <th class="rotate">معاف از رزم</th>
            <th class="rotate">گروه ب</th>
            <th class="rotate">معاف+گروه ب</th>
            <th class="rotate">کمیسیون</th>
            <th class="rotate">اداری</th>
            <th class="rotate">شیفتی</th>
            <th class="rotate">بومی</th>
            <th class="rotate">غیربومی</th>
            <th class="rotate">افسر</th>
            <th class="rotate">درجه دار</th>
            <th class="rotate">عادی</th>
            <th class="rotate">پاسدار وظیفه</th>
            <th class="rotate">زیر دیپلم</th>
            <th class="rotate">دیپلم</th>
            <th class="rotate">فوق دیپلم</th>
            <th class="rotate">لیسانس</th>
            <th class="rotate">فوق لیسانس</th>
            <th class="rotate">دکتری</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ data.unit.name }} (مجموع)</td>
            <td>{{data.unit_stats.all}}</td>
            <td>{{data.unit_stats.salem}}</td>
            <td>{{data.unit_stats.moafazrazm}}</td>
            <td>{{data.unit_stats.moafazrazmgrohb}}</td>
            <td>{{data.unit_stats.moafazrazbamgrohb}}</td>
            <td>{{data.unit_stats.komision}}</td>
            <td>{{data.unit_stats.edari}}</td>
            <td>{{data.unit_stats.shifti}}</td>
            <td>{{data.unit_stats.bomi}}</td>
            <td>{{data.unit_stats.bomino}}</td>
            <td>{{data.unit_stats.officer}}</td>
            <td>{{data.unit_stats.dagree}}</td>
            <td>{{data.unit_stats.sarbaz}}</td>
            <td>{{data.unit_stats.pasdarvazife}}</td>
            <td>{{data.unit_stats.zirdiplom}}</td>
            <td>{{data.unit_stats.diplom}}</td>
            <td>{{data.unit_stats.foghdiplom}}</td>
            <td>{{data.unit_stats.lisans}}</td>
            <td>{{data.unit_stats.foghlisans}}</td>
            <td>{{data.unit_stats.doctor}}</td>
        </tr>
        {% for sub in data.sub_units %}
        <tr >  
            <td >{{ sub.name }}</td>
            <td>{{sub.all}}</td>
            <td>{{sub.salem}}</td>
            <td>{{sub.moafazrazm}}</td>
            <td>{{sub.moafazrazmgrohb}}</td>
            <td>{{sub.moafazrazbamgrohb}}</td>
            <td>{{sub.komision}}</td>
            <td>{{sub.edari}}</td>
            <td>{{sub.shifti}}</td>
            <td>{{sub.bomi}}</td>
            <td>{{sub.bomino}}</td>
            <td>{{sub.officer}}</td>
            <td>{{sub.dagree}}</td>
            <td>{{sub.sarbaz}}</td>
            <td>{{sub.pasdarvazife}}</td>
            <td>{{sub.zirdiplom}}</td>
            <td>{{sub.diplom}}</td>
            <td>{{sub.foghdiplom}}</td>
            <td>{{sub.lisans}}</td>
            <td>{{sub.foghlisans}}</td>
            <td>{{sub.doctor}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}

{%block footer%}
<script>
  $('.select2 select').select2({
    width:"100%"
  })

</script>
{% endblock %}